Repository THE-SOPT-30th-DaangnMarket-Team16-2/DaangnMarket-iOS, pull requests merged in 2022-05, with the labels that each got.

#4 [Add] Color Asset 추가 및 익스텐션 적용
  DaangnMarket-iOS/DaangnMarket-iOS.xcodeproj/project.pbxproj
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Extension/Design/UIColor+.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Colors.xcassets/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Colors.xcassets/carrot_black.colorset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Colors.xcassets/carrot_blue.colorset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Colors.xcassets/carrot_button_orange.colorset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Colors.xcassets/carrot_darklightgray.colorset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Colors.xcassets/carrot_deepgray.colorset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Colors.xcassets/carrot_linegray.colorset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Colors.xcassets/carrot_linelightgray.colorset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Colors.xcassets/carrot_square_gray.colorset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Colors.xcassets/carrot_squaregray.colorset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Colors.xcassets/carrot_text_orange.colorset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Colors.xcassets/carrot_white.colorset/Contents.json
Labels: Junho, Add

#12 [Chore] #11 중고거래 글쓰기 뷰 코드 수정
  DaangnMarket-iOS/DaangnMarket-iOS.xcodeproj/project.pbxproj
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Cells/AddPhotoCVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Cells/ListPhotoCVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Model/PhotoDataModel.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWrite.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWriteVC.swift
  DaangnMarket-iOS/Podfile.lock
Labels: Subin, Refactor, Chore

#14 [Feat] 게시글 상세보기 뷰 레이아웃
  DaangnMarket-iOS/DaangnMarket-iOS.xcodeproj/project.pbxproj
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Extension/Literals/StoryboardLiterals.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/Model.xcworkspace/contents.xcworkspacedata
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/Model.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetail2.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetailBottomSheet.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetailVC2.swift
  DaangnMarket-iOS/Podfile.lock
Labels: Subin, Feat, Design

#16 [Feat] #10 - Alamofire Setting 및 PostDetailVC mocking 서버연결 완료
  DaangnMarket-iOS/DaangnMarket-iOS.xcodeproj/project.pbxproj
  DaangnMarket-iOS/DaangnMarket-iOS/Application/SceneDelegate.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Environment/NetworkConstants.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Foundation/BaseRouter.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Foundation/BaseService.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Foundation/EventLogger.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Foundation/HeaderType.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Foundation/NetworkResult.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Routers/AuthRouter.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Routers/HomeRouter.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Services/AuthService.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Services/HomeService.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Domain/Model/Auth/SignIn.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Domain/Model/Auth/SignUp.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Domain/Model/GeneralResponse.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Domain/Model/Home/PostDetail.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Info.plist
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Junho/PostDetailVC.swift
Labels: Junho, Feat

#19 [Feat] #17- 홈 뷰 구현 및 뷰 컨트롤러 연결
  DaangnMarket-iOS/DaangnMarket-iOS.xcodeproj/project.pbxproj
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Extension/Literals/StoryboardLiterals.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetail2.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetailVC2.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/Subin/Cells/PostTVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/Subin/Cells/PostTVC.xib
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/Subin/Model/ItemModel.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/Subin/Views/PostList2.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/Subin/Views/PostListVC2.swift
Labels: Subin, Feat, Design, Chore

#20 [Chore] 게시글 상세보기 뷰 코드 수정
  DaangnMarket-iOS/DaangnMarket-iOS.xcodeproj/project.pbxproj
  DaangnMarket-iOS/DaangnMarket-iOS/Application/SceneDelegate.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_alarm.imageset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_alarm.imageset/icn_alarm.png
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_alarm.imageset/icn_alarm@2x.png
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_alarm.imageset/icn_alarm@3x.png
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_menu.imageset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_menu.imageset/icn_menu.png
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_menu.imageset/icn_menu@2x.png
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_menu.imageset/icn_menu@3x.png
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_search.imageset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_search.imageset/icn_search.png
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_search.imageset/icn_search@2x.png
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_search.imageset/icn_search@3x.png
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetail2.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetailBottomSheet.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetailVC2.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Cells/AddPhotoCVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Cells/ListPhotoCVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWrite.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/Subin/Cells/PostTVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/Subin/Views/PostList2.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/Subin/Views/PostListVC2.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/MainTabBar/MainTBC.swift
Labels: Subin, Chore

#24 [Refactor] 레이아웃 수정
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/Image.imageset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_info.imageset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_info.imageset/ios_icon_local_navi.png
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_more_search.imageset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_more_search.imageset/ios_icon_local_navi.png
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_plus.imageset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_plus.imageset/icn_plus.png
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_plus.imageset/icn_plus@2x.png
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/icn_plus.imageset/icn_plus@3x.png
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/ios_icon_local_navi.imageset/Contents.json
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Resources/Assets.xcassets/ios_icon_local_navi.imageset/ios_icon_local_navi.png
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/ListTableViewCell.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/ListTableViewCell.xib
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/PostList.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/PostListVC.swift
Labels: Subin, Design

#26 [Chore] #25- 키보드 노티 코드 수정
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWrite.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWriteVC.swift
Labels: Subin, Chore

#30 [Fix] 프로젝트 경로 수정
  DaangnMarket-iOS/DaangnMarket-iOS.xcodeproj/project.pbxproj
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Seunghyeon/ListTableViewCell.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Seunghyeon/ListTableViewCell.xib
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Seunghyeon/PostList.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Seunghyeon/PostListVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Cells/PostTVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Cells/PostTVC.xib
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Model/ItemModel.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Views/PostList2.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Views/PostListVC2.swift
Labels: Subin, Fix
