Repository THE-SOPT-30th-DaangnMarket-Team16-2/DaangnMarket-iOS, pull requests merged in 2022-06, with the labels that each got.

#33 [Feat] #32- Detail2 뷰 상품 좋아요 등록 및 취소 API 연결
  DaangnMarket-iOS/DaangnMarket-iOS.xcodeproj/xcshareddata/xcschemes/DaangnMarket-iOS.xcscheme
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Foundation/BaseRouter.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Routers/HomeRouter.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Services/HomeService.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Junho/PostDetailVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetailVC2.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Seunghyeon/PostListVC.swift
Labels: Subin, Feat

#34 [Feat] #29- Create 뷰 상품 등록 API 연결
  DaangnMarket-iOS/DaangnMarket-iOS.xcodeproj/project.pbxproj
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Foundation/BaseRouter.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Routers/HomeRouter.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Services/HomeService.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Domain/Model/Home/PostWrite.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetail2.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetailVC2.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Seunghyeon/PostListVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWriteVC.swift
Labels: Subin, Feat

#36 [Refactor] #35 - 코드리뷰 반영 및 리팩토링
  DaangnMarket-iOS/DaangnMarket-iOS.xcodeproj/project.pbxproj
  DaangnMarket-iOS/DaangnMarket-iOS/Global/Extension/Literals/ImageLiterals.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetail2.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetailVC2.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Seunghyeon/PostListVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Cells/PostTVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Cells/PostTVC.xib
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Views/PostList2.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Views/PostListVC2.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWrite.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWriteVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/MainTabBar/MainTBC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/OtherTabs/AroundVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/OtherTabs/ChatVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/OtherTabs/MyPageVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/OtherTabs/TownVC.swift
Labels: Subin, Refactor, Chore

#40 [Feat] #39 - 서버통신 플로우 연결 및 디테일 수정
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Routers/HomeRouter.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Services/HomeService.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Domain/Model/Home/PostDetail.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Junho/Cells/PostContentCVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Junho/Cells/PostImageCVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Junho/PostDetailVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Junho/Views/PostDetailBottomView.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Junho/Views/PostDetailUserHeader.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetailVC2.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Seunghyeon/ListTableViewCell.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Seunghyeon/PostListVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWriteVC.swift
Labels: Feat

#43 [Refacto] #41- 리팩토링
  DaangnMarket-iOS/DaangnMarket-iOS.xcodeproj/project.pbxproj
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Routers/HomeRouter.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Data/Network/Services/HomeService.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Domain/Model/Home/PostDetail.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Domain/Model/Home/PostList.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Domain/Model/PostListDataModel.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Domain/Model/responseDTO.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Junho/Cells/PostContentCVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetail2.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetailVC2.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Seunghyeon/ListTableViewCell.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Seunghyeon/PostListVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Cells/PostTVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Cells/PostTVC.xib
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Model/ItemModel.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Views/PostList2.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Views/PostListVC2.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Cells/AddPhotoCVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Cells/ListPhotoCVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Model/PhotoDataModel.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWrite.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWriteVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/MainTabBar/MainTBC.swift
Labels: Subin, Refactor

#46 [Chore] #45- Detail 뷰 상품 판매상태 버튼 수정
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetail2.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostDetail/Subin/Views/PostDetailVC2.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Cells/PostTVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostList/Subin2/Views/PostList2.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWrite.storyboard
Labels: Subin, Design, Chore, Fix

#48 [Feat] #47- Write 뷰 이미지 추가 방식 변경
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Cells/AddPhotoCVC.swift
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWrite.storyboard
Labels: Subin, Feat, Design, Chore

#49 [Feat] -#44 Write 뷰 Contents 작성 시 키보드가 텍스트 뷰를 가리지 않도록하는 기능 추가
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWrite.storyboard
  DaangnMarket-iOS/DaangnMarket-iOS/Presentation/Home/PostWrite/Views/PostWriteVC.swift
Labels: Subin, Feat, Bug
